## Decision Tree Implementation in Python:

Note: Lab conducted by AJ.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# load data:
df = pd.read_excel("data_dt.xlsx")
df.head()

   ID     Age  Income  Gender Martial Status Buys
0   1    0-21    High    Male         Single   No
1   2    0-21    High    Male        Married   No
2   3   21-35    High    Male         Single  Yes
3   4  35-100  Medium    Male         Single  Yes
4   5  35-100     Low  Female         Single  Yes

In [3]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Age'] = le.fit_transform(df['Age'])
df['Income'] = le.fit_transform(df['Income'])
df['Gender'] = le.fit_transform(df['Gender'])
df['Martial Status'] = le.fit_transform(df['Martial Status'])
df['Buys'] = le.fit_transform(df['Buys'])
df

    ID  Age  Income  Gender  Martial Status  Buys
0    1    0       0       1               1     0
1    2    0       0       1               0     0
2    3    1       0       1               1     1
3    4    2       2       1               1     1
4    5    2       1       0               1     1
5    6    2       1       0               0     0
6    7    1       1       0               0     1
7    8    0       2       1               1     0
8    9    0       1       0               0     1
9   10    2       2       0               1     1
10  11    0       2       0               0     1
11  12    1       2       1               0     1
12  13    1       0       0               1     1
13  14    2       2       1               0     0

In [4]:
# Create Decision Tree:

# split data into X and y

from sklearn.model_selection import train_test_split

X = df.iloc[:,1:-1]
y = df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

print(len(X_train))
print(len(X_test))

11
3

In [5]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(X_train, y_train)

DecisionTreeClassifier()

In [6]:
from six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()

export_graphviz(model, out_file=dot_data, filled=True, rounded=True, special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'